<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>forum</title>
		<link rel="stylesheet" href="assets/css/home.css">
	</head>

	<body>
		<div class="top-bar">
			<div class="left-images">
				<a href="/">
				<img src="assets/img/logoforum.png" alt="Image gauche">
				</a>
			</div>
			<div class="middle-buttons">
			    <form action="/filter" method="POST">
					{{if .IsLoggedIn}}
						<select name="filters" id="filters">
							<option value="">selection par filtre</option>
							<option value="messages">vos messages</option>
							<option value="likes">liste des 'likes'</option>
						</select>
					{{end}}
					<select name="categories" id="categories">
						<option value="">Sélection par catégorie</option>
						{{range .Categories}}
							<!--<option value="{{.ID}}">{{.Name}}</option>-->
							<option value="{{.Name}}">{{.Name}}
                          {{end}}
                    </select>

				
			        <button type="submit">Filtrer</button>
			    </form>
			</div>

			<div class="right-buttons">
				<div class="right-buttons">
					{{if .IsLoggedIn}} 
						<form action="/logout" method="POST">
							<button type="submit" class="btn">Se déconnecter</button>
						</form>
						<!--<button href="/logout" type="submit" class="btn">Logout</button>-->
					{{else}}
						<!-- Popup de login -->
          				<input type="checkbox" id="login-popup" hidden {{with .Error}}checked{{end}}>
						<label for="login-popup" class="btn">Se connecter</label>        
						<div class="popup">
							<div class="popup-content">
								<label for="login-popup" class="close">&times;</label>
								<h2>Connection</h2>
								<form action="/login" method="POST">
									{{with .Error}}
										<p style="color:red; font-weight:bold;">{{.}}</p>
									{{end}}
									<input type="email" name="email" placeholder="email" value="{{.Email}}" required>
									<input type="password" name="password" placeholder="password" required>
									 <a href="/api/login-gh/" class="btn github-btn">
									    <svg class="github-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15" height="15">
									        <path fill="currentColor" d="M12 .5C5.37.5 0 5.87 0 12.5c0 5.3 3.44 9.8 8.21 11.39.6.11.82-.26.82-.58 0-.29-.01-1.05-.02-2.06-3.34.73-4.04-1.61-4.04-1.61-.55-1.38-1.35-1.75-1.35-1.75-1.1-.75.08-.73.08-.73 1.22.09 1.86 1.25 1.86 1.25 1.08 1.85 2.83 1.32 3.52 1.01.11-.78.42-1.32.76-1.62-2.66-.3-5.47-1.33-5.47-5.93 0-1.31.47-2.38 1.24-3.22-.12-.3-.54-1.52.12-3.17 0 0 1.01-.32 3.3 1.23a11.5 11.5 0 013.01-.41c1.02.01 2.05.14 3.01.41 2.28-1.55 3.29-1.23 3.29-1.23.66 1.65.24 2.87.12 3.17.77.84 1.24 1.91 1.24 3.22 0 4.61-2.81 5.62-5.48 5.92.43.37.82 1.1.82 2.22 0 1.6-.01 2.89-.01 3.28 0 .32.21.7.82.58C20.57 22.3 24 17.8 24 12.5 24 5.87 18.63.5 12 .5z"/>
									    </svg>
									    <span>Se connecter avec GitHub</span>
									</a>
									<a href="/api/login-google/" class="btn google-btn">
									    <span>Se connecter avec Google</span>
									</a>
									<button type="submit">Se connecter</button>
              				</form>
							</div>
						</div>    
					{{end}}
					{{if .IsLoggedIn}}
					{{else}}
						<a href="/register" class="btn">S'inscrire</a>
					{{end}}
				</div>
				<!--<form>
				<button type="submit" class="btn">Logout</button>
				</form>

				<form>
				<a href="/register" class="btn">Register</a>


					</form>-->
			</div>
		</div>


		{{if .IsLoggedIn}} 
			<div class="mainpart">
				<button id="new-subject-btn" class="btn">+ Nouveau sujet</button>
			</div>

			<div id="subject-form" class="form-container" style="display: none;">
				<form method="POST" action="/create-topic">
				<input type="text" name="title" placeholder="Objet du sujet" required>
				<textarea name="content" placeholder="Contenu du sujet" required></textarea>

				<div class="categories">
					<h3>Catégories</h3>
					<div class="checkboxes">
					{{range .Categories}}
						<label class="category-label">
						<input type="checkbox" name="categories" value="{{.ID}}">
						<span class="category-name">{{.Name}}</span>
						</label>
					{{end}}
					</div>
				</div>

				<button type="submit" class="btn">Publier</button>
				</form>
			</div>
		{{end}}


		<h2>Derniers Sujets</h2>

		<div class="topics-header">
  			<span>Titre</span>
  			<span>Catégorie(s)</span>
  			<span>Texte</span>
		</div>

		{{if .Topics}}
			{{range .Topics}}
				<div class="topic-banner">
					<a href="/thread?id={{.ID}}">
						<span>{{.Title}}</span>
						<div class="topic-categories">
						{{range .Categories}}
							<span class="category-item">{{.Name}}</span>
						{{end}}
						</div>
						<span>
						{{if gt (len .Content) 80}}
							{{slice .Content 0 80}}...
						{{else}}
							{{.Content}}
						{{end}}
						</span>
					</a>
				</div>
			{{end}}
		{{else}}
			<p class="no-topics">Aucun sujet pour le moment.</p>
		{{end}}

	</body>

	<script>
		document.getElementById("new-subject-btn").addEventListener("click", () => {
			document.getElementById("subject-form").style.display = "block";
		});
	</script>
</html>
